:root {

    --primary-color: #061E29;
    --secondary-color: #1D546D;
    --accent-color: #5F9598;
    --background-color: #F3F4F4;

    --card-color: #ffffff;
    --text-dark: #061E29;
    --text-light: #ffffff;

}
main{
    width: 100%;
    height: 150vh;

}
#adminPanel {
    padding-top: 60px;
}

#adminPanel .card {
     background:var(--card-color);
    color:var(--text-dark);

    border-radius:20px;
    border:none;

    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

#adminPanel input,
#adminPanel textarea {
   border-radius:10px;
    border:1px solid var(--secondary-color);

    padding:8px;
}

#adminPanel input:focus,
#adminPanel textarea:focus{

    outline:none;
    border-color:var(--primary-color);
}



