*{
    margin: 0;
    padding: 0;
}

.notification-section{
    position: relative;
    top: 50px;
    margin: 0px 10px;

}
main{
    height: 100vh;
    width: 100vw;
}
.details-section{
    position: relative;
    top: 20px;
}

.details-section .details-div {
    background-color: #EAEFBD;
    border-radius: 20px;

}
