@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bitcount+Grid+Single:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mina:wght@400;700&family=Momo+Trust+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofadi+One&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200..700&family=Vend+Sans:ital,wght@0,300..700;1,300..700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: "Stack Sans Text","Merriweather";
}

:root {

    --primary-color: #061E29;
    --secondary-color: #1D546D;
    --accent-color: #5F9598;
    --background-color: #F3F4F4;

    --card-color: #ffffff;
    --text-dark: #061E29;
    --text-light: #ffffff;

}

.notification-section{
    padding-top: 60px;
    margin: 0px 10px;

}
main{
    height: 100vh;
    width: 100vw;
}
.details-section{
    margin: 30px 0px;
}

.details-section .details-div {
    background:var(--card-color);
    color:var(--text-dark);
    border-radius: 20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);

}
