*{
    margin: 0;
    padding: 0;
}

.management-section{
    padding-top: 60px;
}

.table-container{

max-height:300px;   /* vertical scroll */
overflow-y:auto;

overflow-x:auto;    /* horizontal scroll */

width:100%;

border-radius:10px;

}

.table{
font-size:14px;
min-width:700px;

}

.table thead{

position:sticky;
top:0;

background:white;
z-index:2;

}

.menu-bar{
    z-index: 999;
}